# Python cache
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
ENV/
.venv/
*.env

# Django specific
*.sqlite3
*.log
*.pot
*.pyc

# Static & media files (if generated)
staticfiles/
media/

# VS Code and other editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Node
node_modules/
